<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <ul class="nav">
            <!-- <span class="badge badge-count">5</span> -->
            <!-- 在p标签后 -->
            <li class="nav-item active" id="actl12">
                <a href="/BJPrExO9">
                    <i class="la la-dashboard"></i>
                    <p>首页</p>
                </a>
            </li>
            <li class="nav-item" id="act16">
                <a class="" data-toggle="collapse" href="#catalog16" aria-expanded="true" onclick="catalogonoff(16)">
                    <i class="la la-cog"></i>
                    <p>系统设置</p>
                    <span class="badge"><i class="la la-caret-right" id="span16" data-status="false"></i></span>
                </a>
            </li>
            <div class="collapse in catalog16" id="catalog16" aria-expanded="true">
                <ul class="nav">
                    <li class="nav-item" id="actl19" data-topid="16">
                        <a href="/BJPrExO9/ad" style="padding-left: 40px;">
                            <i class=" la la-cc-amex"></i>
                            <p>广告管理</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl18" data-topid="16">
                        <a href="/BJPrExO9/setting" style="padding-left: 40px;">
                            <i class="la la-wrench"></i>
                            <p>网站设置</p>
                        </a>
                    </li>
                </ul>
            </div>
            <li class="nav-item" id="act30">
                <a class="" data-toggle="collapse" href="#catalog30" aria-expanded="true" onclick="catalogonoff(30)">
                    <i class="la la-users"></i>
                    <p>会员管理</p>
                    <span class="badge"><i class="la la-caret-right" id="span30" data-status="false"></i></span>
                </a>
            </li>
            <div class="collapse in catalog30" id="catalog30" aria-expanded="true">
                <ul class="nav">
                    <li class="nav-item" id="actl31" data-topid="30">
                        <a href="/BJPrExO9/user" style="padding-left: 40px;">
                            <i class="la la-street-view"></i>
                            <p>会员列表</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl37" data-topid="30">
                        <a href="/BJPrExO9/log/recharge" style="padding-left: 40px;">
                            <i class="la la-cart-arrow-down"></i>
                            <p>充值管理</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl38" data-topid="30">
                        <a href="/BJPrExO9/log/withdraw" style="padding-left: 40px;">
                            <i class="la la-cloud-upload"></i>
                            <p>提现管理</p>
                        </a>
                    </li>
                </ul>
            </div>
            <li class="nav-item" id="act39">
                <a class="" data-toggle="collapse" href="#catalog39" aria-expanded="true" onclick="catalogonoff(39)">
                    <i class="la la-connectdevelop"></i>
                    <p>应用管理</p>
                    <span class="badge"><i class="la la-caret-right" id="span39" data-status="false"></i></span>
                </a>
            </li>
            <div class="collapse in catalog39" id="catalog39" aria-expanded="true">
                <ul class="nav">
                    <li class="nav-item" id="actl40" data-topid="39">
                        <a href="/BJPrExO9/deal" style="padding-left: 40px;">
                            <i class="la la-creative-commons"></i>
                            <p>C2C管理</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl41" data-topid="39">
                        <a href="/BJPrExO9/invest" style="padding-left: 40px;">
                            <i class="la la-edit"></i>
                            <p>入金管理</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl42" data-topid="39">
                        <a href="/BJPrExO9/price" style="padding-left: 40px;">
                            <i class="la la-cc-mastercard"></i>
                            <p>STBC币价管理</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl43" data-topid="39">
                        <a href="/BJPrExO9/log/shop/apply" style="padding-left: 40px;">
                            <i class=" la la-ge"></i>
                            <p>商家申请管理</p>
                        </a>
                    </li>
                </ul>
            </div>
            <li class="nav-item" id="act26">
                <a class="" data-toggle="collapse" href="#catalog26" aria-expanded="true" onclick="catalogonoff(26)">
                    <i class="la la-server"></i>
                    <p>文章管理</p>
                    <span class="badge"><i class="la la-caret-right" id="span26" data-status="false"></i></span>
                </a>
            </li>
            <div class="collapse in catalog26" id="catalog26" aria-expanded="true">
                <ul class="nav">
                    <li class="nav-item" id="actl28" data-topid="26">
                        <a href="/BJPrExO9/cms/category" style="padding-left: 40px;">
                            <i class=" la la-puzzle-piece"></i>
                            <p>文章分类</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl29" data-topid="26">
                        <a href="/BJPrExO9/cms/article" style="padding-left: 40px;">
                            <i class="la la-tasks"></i>
                            <p>文章列表</p>
                        </a>
                    </li>
                </ul>
            </div>
            <li class="nav-item" id="act23">
                <a class="" data-toggle="collapse" href="#catalog23" aria-expanded="true" onclick="catalogonoff(23)">
                    <i class="la la-calendar"></i>
                    <p>日志管理</p>
                    <span class="badge"><i class="la la-caret-right" id="span23" data-status="false"></i></span>
                </a>
            </li>
            <div class="collapse in catalog23" id="catalog23" aria-expanded="true">
                <ul class="nav">
                    <li class="nav-item" id="actl24" data-topid="23">
                        <a href="/BJPrExO9/admin/operation/log" style="padding-left: 40px;">
                            <i class="la la-cutlery"></i>
                            <p>管理员操作日志</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl25" data-topid="23">
                        <a href="/BJPrExO9/admin/login/log" style="padding-left: 40px;">
                            <i class="la la-map-signs"></i>
                            <p>管理员登录日志</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl35" data-topid="23">
                        <a href="/BJPrExO9/user/fund/log" style="padding-left: 40px;">
                            <i class="la la-credit-card"></i>
                            <p>会员资金流水日志</p>
                        </a>
                    </li>
                    <li class="nav-item" id="actl36" data-topid="23">
                        <a href="/BJPrExO9/user/operation/log" style="padding-left: 40px;">
                            <i class="la la-newspaper-o"></i>
                            <p>会员操作日志</p>
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>