<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>联系客服</title>
    <link href="/static/index/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/index/css/public.css">
</head>
<body>
<div class="mui-inner-wrap">

    <header class="mui-bar mui-bar-nav head_bg">
        <a class="mui-icon mui-action-menu mui-icon-arrowleft btn_return"></a>
        <h1 class="mui-title">联系客服</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper content_bg">
        <div class="pushBox">
            <i><img src="{$service}" alt=""></i>
            <span>扫一扫联系我们</span>
        </div>
    </div>

</div>
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/mui.min.js"></script>
<script src="/static/index/js/code.js"></script>
<script>
    mui.init()
    mui('.mui-bar-tab').on('tap', 'a', function () { document.location.href = this.href; });
    $('.btn_return').click(function () {
        history.go(-1)
    })

</script>

</body>
</html>
