<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>挂单</title>
    <link href="/static/index/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/index/css/public.css">
</head>
<body>
<div class="mui-inner-wrap">

    <header class="mui-bar mui-bar-nav head_bg">
        <a class="mui-icon mui-action-menu mui-icon-arrowleft btn_return"></a>
        <h1 class="mui-title">挂单</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper content_bg">
        <div class="mui-scroll">
            <div class="orderTabe mui-segmented-control">
                <a href="#sell" class="mui-control-item mui-active">收币</a>
                <a href="#deal" class="mui-control-item">出售</a>
            </div>
            <div class="mui-content-padded orderBox">
                <div id="sell" class="mui-control-content mui-active">
                    <div class="topUpBox">
                        <p class="topTitle">金额(STBC)</p>
                        <div class="iptTop">
                            <input type="text" id="buy_amount" placeholder="请输入金额">
                        </div>
                        <p class="topTitle">单价(CNY)</p>
                        <div class="iptTop hangGd">
                            <input type="number" value="{$stbc_amount}" id="buy_number" readonly data-n="{$stbc_amount}" data-pct="0">
                            <div class="numBox">
                                <i class="add"></i>
                                <i class="minus"></i>
                            </div>
                        </div>
                        <a href="javascript:;" class="buttonKey memberBtn" onclick="submit('buy')">确认提交</a>
                    </div>
                </div>
                <div id="deal" class="mui-control-content">
                    <div class="topUpBox">
                        <p class="topTitle">金额(STBC)</p>
                        <div class="iptTop">
                            <input type="text" id="sell_amount" placeholder="请输入金额">
                        </div>
                        <p class="topTitle">单价(CNY)</p>
                        <div class="iptTop hangGd">
                            <input type="number" id="sell_number" value="{$stbc_amount}" readonly data-n="{$stbc_amount}" data-pct="0">
                            <div class="numBox">
                                <i class="add1">+</i>
                                <i class="minus1">-</i>
                            </div>
                        </div>
                        <a href="javascript:;" class="buttonKey memberBtn" onclick="submit('sell')">确认提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/mui.min.js"></script>
<script src="/static/index/js/code.js"></script>
<script>
    mui.init()
    mui('.mui-scroll-wrapper').scroll({
        indicators: false,
        bounce: false,
        deceleration: 0.0005
    })
    mui('.mui-bar-tab').on('tap', 'a', function () { document.location.href = this.href; });
    $('.btn_return').click(function () {
        history.go(-1)
    })
    // 收币
    // $('.add').click(function () {
    //     var n = parseFloat($('#buy_number').attr('data-n'))
    //     var pct = parseInt($('#buy_number').attr('data-pct'))
    //     $('#buy_number').attr('data-pct', pct + 1)
    //     $('#buy_number').val((n * (1 + (pct + 1) * 0.01)).toFixed(2))
    // });
    // $('.minus').click(function () {
    //     var n = parseFloat($('#buy_number').attr('data-n'))
    //     var pct = parseInt($('#buy_number').attr('data-pct'))
    //     $('#buy_number').attr('data-pct', pct - 1)
    //     $('#buy_number').val((n * (1 + (pct - 1) * 0.01)).toFixed(2))
    // });
    // // 出售
    // $('.add1').click(function () {
    //     var n = parseFloat($('#sell_number').attr('data-n'))
    //     var pct = parseInt($('#sell_number').attr('data-pct'))
    //     $('#sell_number').attr('data-pct', pct + 1)
    //     $('#sell_number').val((n * (1 + (pct + 1) * 0.01)).toFixed(2))
    // });
    // $('.minus1').click(function () {
    //     var n = parseFloat($('#sell_number').attr('data-n'))
    //     var pct = parseInt($('#sell_number').attr('data-pct'))
    //     $('#sell_number').attr('data-pct', pct - 1)
    //     $('#sell_number').val((n * (1 + (pct - 1) * 0.01)).toFixed(2))
    // });

    $(".add").click(function(){
        $("#buy_number").val(parseFloat(parseFloat($("#buy_number").val()) + 0.01).toFixed(2))
    })

    $('.minus').click(function () {
        $("#buy_number").val(parseFloat(parseFloat($("#buy_number").val()) - 0.01).toFixed(2))
    })

    $(".add1").click(function(){
        $("#sell_number").val(parseFloat(parseFloat($("#sell_number").val()) + 0.01).toFixed(2))
    })

    $('.minus1').click(function () {
        $("#sell_number").val(parseFloat(parseFloat($("#sell_number").val()) - 0.01).toFixed(2))
    })

    function submit(type){
        if(type == 'buy'){
            var amount = $("#buy_amount").val();
            var number = $("#buy_number").val();
        }else{
            var amount = $("#sell_amount").val();
            var number = $("#sell_number").val();
        }
        $.ajax({
            url: "/index/deal/create/submit",
            type: "post",
            data: {amount: amount, number: number, type: type},
            success: function(data){
                data = JSON.parse(data)
                mui.toast(data.msg);
                if(data.code == 1){
                    setTimeout(() => {
                        location.href = "/index/me"
                    }, 1500);
                }
            }
        })
    }
</script>

</body>
</html>
