<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>充值记录</title>
    <link href="/static/index/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/index/css/public.css">
</head>
<body>
<div class="mui-inner-wrap">

    <header class="mui-bar mui-bar-nav head_bg">
        <a class="mui-icon mui-action-menu mui-icon-arrowleft btn_return"></a>
        <h1 class="mui-title">充值记录</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper content_bg">
        <div class="mui-scroll">
            <div class="topRecord">
                <p class="titRecord">
                    <span>金额</span>
                    <span>时间</span>
                    <span>状态</span>
                </p>
                <ul class="conRecord">
                    {volist name="list" id="vo"}
                    <li>
                        <span>{$vo.amount}</span>
                        <span>{$vo.insert_time}</span>
                        <span class="{$vo.status_color}">{$vo.status_text}</span>
                    </li>
                    {/volist}
                    <!-- <li>
                        <span>0.00</span>
                        <span>2020-01-01 11:23</span>
                        <span class="green">成功</span>
                    </li>
                    <li>
                        <span>0.00</span>
                        <span>2020-01-01 11:23</span>
                        <span class="red">审核中</span>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

</div>
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/mui.min.js"></script>
<script src="/static/index/js/code.js"></script>
<script>
    mui.init()
    mui('.mui-scroll-wrapper').scroll({
        indicators: false,
        bounce: false,
        deceleration: 0.0005
    })
    mui('.mui-bar-tab').on('tap', 'a', function () { document.location.href = this.href; });
    $('.btn_return').click(function () {
        history.go(-1)
    })

</script>

</body>
</html>
