<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现</title>
    <link href="/static/index/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/index/css/public.css">
</head>
<body>
<div class="mui-inner-wrap">

    <header class="mui-bar mui-bar-nav head_bg">
        <a class="mui-icon mui-action-menu mui-icon-arrowleft btn_return"></a>
        <h1 class="mui-title">提现</h1>
        <a href="/index/me/withdraw/log" class="head-tit_right">提现记录</a>
    </header>
    <div class="mui-content mui-scroll-wrapper content_bg">
        <div class="mui-scroll">
            <div class="topUpBox">
                <div class="withdrawTit">
                    <p>{$user.userfund.stbc}</p>
                    <p>STBC</p>
                </div>
                <p class="topTitle">提现金额(STBC)</p>
                <div class="iptTop">
                    <input type="text" id="amount" placeholder="请输入提现金额">
                </div>
                <a href="javascript:;" class="buttonKey memberBtn">确认提现</a>
            </div>
        </div>
    </div>

</div>
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/mui.min.js"></script>
<script src="/static/index/js/code.js"></script>
<script>
    mui.init()
    mui('.mui-scroll-wrapper').scroll({
        indicators: false,
        bounce: false,
        deceleration: 0.0005
    })
    mui('.mui-bar-tab').on('tap', 'a', function () { document.location.href = this.href; });
    $('.btn_return').click(function () {
        location.href = "/index/me"
    })

    $(".memberBtn").click(function(){
        var amount = $("#amount").val();
        $.ajax({
            url: "/index/me/withdraw/submit",
            type: "post",
            data: {amount: amount},
            success: function(data){
                data = JSON.parse(data)
                mui.toast(data.msg);
                if(data.code == 1){
                    setTimeout(() => {
                        location.href = "/index/me/withdraw"
                    }, 1500);
                }
            }
        })
    })
</script>

</body>
</html>
