<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>STBC</title>
    <link href="/static/index/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/index/css/swiper.min.css">
    <link rel="stylesheet" href="/static/index/css/public.css">
</head>
<body>
<div class="mui-inner-wrap">

    <header class="mui-bar mui-bar-nav indexHeader">
        <h1 class="mui-title">STBC</h1>
    </header>
    <nav class="mui-bar mui-bar-tab nav_bg">
        <a href="javascript:;" class="mui-tab-item mui-active">
            <span class="mui-icon iconfont icon_1"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a href="/index/invest" class="mui-tab-item">
            <span class="mui-icon iconfont icon_2"></span>
            <span class="mui-tab-label">入金</span>
        </a>
        <a href="/index/log" class="mui-tab-item">
            <span class="mui-icon iconfont icon_3"></span>
            <span class="mui-tab-label">收益</span>
        </a>
        <a href="./index/deal" class="mui-tab-item">
            <span class="mui-icon iconfont icon_4"></span>
            <span class="mui-tab-label">C2C</span>
        </a>
        <a href="/index/me" class="mui-tab-item">
            <span class="mui-icon iconfont icon_5"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>

    <div class="mui-content mui-scroll-wrapper indexContent">
        <div class="mui-scroll">
            <div class="bannerBox">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {volist name="banner" id="vo"}
                        <div class="swiper-slide"><img src="{$vo.image}" alt=""></div>
                        {/volist}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="noticeBox">
                <a href="javascript:;" class="noticeBg"></a>
                <marquee behavior="" direction="">{$notice}</marquee>
            </div>
            <div class="echartsBox">
                <div class="echartsTitle">
                    <h5>今日币价：{$today_price} CNY</h5>
                    <p>
                        <!--<span>单位:(USDT)</span>-->
                        <!--<span>USDT x {$usdt.hight_number} = CNY</span>-->
                    </p>
                </div>
                <div class="echartsCont">
                    <div id="echart" style="width: 100%;height: 160px;"></div>
                </div>
            </div>
            <div class="indexInform">
                <div class="top">
                    <h5>|  行业资讯</h5>
                    <a href="/index/notice">更多> </a>
                </div>
                {volist name="new" id="vo"}
                <div class="bot">
                    <img src="{$vo.image}" alt="">
                    <div class="right">
                        <h5>{$vo.title}</h5>
                        <p class="rightCont">
                            <span>{$vo.intro}</span>
                            <a href="/index/notice/detail/{$vo.article_id}">详情</a>
                        </p>
                        <p class="rightText">{$vo.insert_time}</p>
                    </div>
                </div>
                {/volist}
            </div>
            <div class="coinList">
                <p class="listHeader">
                    <span>名称</span>
                    <span>最新价</span>
                    <span>涨幅</span>
                </p>
                <ul>
                    <li>
                        <p>
                            <img src="/static/index/img/coin.png" alt="">
                            <span>{$btc.coin}</span>
                        </p>
                        <p>
                            <span class="green">{$btc.last_number}USDT</span>
                            <span>≈￥{$btc.last_number * $usdt.hight_number}</span>
                        </p>
                        <p {if condition="$btc.vol > 0"}class="red"{else /}class="green"{/if}>{$btc.vol}%</p>
                    </li>
                    <li>
                        <p>
                            <img src="/static/index/img/coin.png" alt="">
                            <span>{$eth.coin}</span>
                        </p>
                        <p>
                            <span class="red">{$eth.last_number}USDT</span>
                            <span>≈￥{$eth.last_number * $usdt.hight_number}</span>
                        </p>
                        <p {if condition="$eth.vol > 0"}class="red"{else /}class="green"{/if}>{$eth.vol}%</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/mui.min.js"></script>
<script src="/static/index/js/swiper.min.js"></script>
<script src="/static/index/js/echarts.min.js"></script>
<script>
    mui.init()
    mui('.mui-scroll-wrapper').scroll({
        indicators: false,
        bounce: false,
        deceleration: 0.0005
    })
    mui('.mui-bar-tab').on('tap', 'a', function () { document.location.href = this.href; });
    var mySwiper = new Swiper('.swiper-container', {
        loop : true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            bulletActiveClass: 'activeSwiper',
        },
    })

    var myChart = echarts.init(document.getElementById('echart'));
    var amount = JSON.parse("{$amount}")
    var day = JSON.parse('{$day}')
    for (const key in day) {
        day[key] = String(day[key]).substr(1, 2) + "/" + String(day[key]).substr(3, 2)
    }
    option = {
        grid: {
            top:'3%',
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: day,
            axisLabel:{
                show:true,
                textStyle:{
                    color:'white'
                }
            }
        },
        yAxis: {
            type: 'value',
            axisLabel:{
                show:true,
                textStyle:{
                    color:'white'
                }
            }
        },

        series: [{
            data: amount,
            type: 'line',
            areaStyle: {},
            itemStyle:{
                normal:{
                    color:'#32b16c', //折点颜色
                    lineStyle:{
                        color:'#32b16c' //折线颜色
                    }
                }
            }
        }]
    };
    myChart.setOption(option);

</script>
</body>
</html>
